<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=MUGAULI-PC\MUGAULISQLSERVER;Initial Catalog=dbventas;persist security info=True;user id=sa;password=Mugauli2.;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>